{% for route in routes %}
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ route["service"] }}
  namespace: {{ charm_namespace }}
spec:
  gateways:
  - '{{ gateway_namespace }}/{{ gateway_name }}'
  hosts:
  - '*'
  http:
  - match:
    - uri:
        {% if route["regex"] %}
        regex: '{{ route["regex"]}}'
        {% else %}
        prefix: '{{ route["prefix"] }}'
        {% endif %}
    {% if not route["regex"] %}
    rewrite:
      uri: '{{ route["rewrite"] or route["prefix"] }}'
    {% endif %}
    route:
    - destination:
        host: '{{ route["service"] }}.{{ route["namespace"] }}.svc.cluster.local'
        port:
          number: {{ route["port"] }}
{% endfor %}
